<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="p-about">
                </div>
            </div>
            <div class="col-sm-7 p-rgt-sec" >
                    <p> </p>
                    <h1 class="mt-4"><b>Taehyun Oh</b></h1>
                    <p class="p-des">
                        My name is Taehyun Oh. I came to Canada in 2011 from South Korea. I have gruadated St.Monica catholic school,
                        Marshall McLuhan Catholic Secondary School, and University of Toronto as Cinema Studies specialist. I am currently
                        enrolled in to AI - Software Engineering technology program in Centennial College. I am studying software 
                        because I have to pursuit career in IT industry for stable income and happiness. My goal is to create my own 
                        AI software companey where AI can form and simluate its own 'backgroud' based on user input. 
                    </p>
                </div>
            </div>
        </div>
</section>