<div class="Project"><h1><b>Projects</b></h1></div>

<section class="s1">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="people_eat">
                </div>
            </div>
            <div class="col-sm-7 p-rgt-sec" >
                <div>
                    <p> </p>
                    <h1 class="mt-4"><b>Split Calculator</b></h1>
                    <p class="p-des mt-3 mb-4">
                        A little side project I am doing. It is a calculator allowing you to split share food with your friends.
                    </p>

                       <h2>Program language used: Java</h2>
            
                    <div> <h3>It should allow the users to:</h3>
                        <ul>
                            <li>
                                Defult calculation, Total amount / Amount of people

                            </li>
                            <li>
                                Split with fixed Amount, an individual order item for themselves only.

                            </li>
                            <li>
                                Split with percentage, Divide the total amount according to the percentage given by the user. 
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div >  
</section>

<section class="s2">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="ai_npc">
                </div>
            </div>
            <div class="col-sm-7 p-rgt-sec" >
                <div>
                    <p> </p>
                    <h1 class="mt-4"><b>AI NPCs</b></h1>
                    <p class="p-des mt-3 mb-4">
                       A project I hope I can work on in the future.
                    </p>
            
                    <div class="list"> <h3>These AI generated NPCs should be able to do:</h3>
                        <ul>
                            <li>
                                Able create its own 'background' based on the world setting and history.

                            </li>
                            <li>
                                Develop a life pattern based on its role within the system.

                            </li>
                            <li>
                                Able to interact with differnet users based on user's unique individuality.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div >  
</section>

<section class="s3">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="ai_op">
                </div>
            </div>
            <div class="col-sm-7 p-rgt-sec" >
                <div>
                    <p> </p>
                    <h1 class="mt-4"><b>Operating System For AI Programs</b></h1>
                    <p class="p-des mt-3 mb-4">
                       Another project I hope I can work on in the future.
                    </p>
            
                    <div class="list"> <h3>Operating System For AI should be able to do:</h3>
                        <ul>
                            <li>
                                Able to search and suggest differnet AI programs fitting user's needs

                            </li>
                            <li>
                                Able to collaborate differnet AI programs based on a project or user's intention.

                            </li>
                            <li>
                                Able to monitor differnet AI programs to organize and manage data based on user's intention.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div >  
</section>