<section class="contact">
    <div><h1><b>Contact</b></h1></div>
    <div>
        <div>
                <h2>Taehyun Oh<br>
                Phone: 647-123-1234<br>
                Email: taehyun.oh5@gmail.com</h2>

        </div>
    </div>
</section>
        <div class="form">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput>
              </mat-form-field>
              <br>
              <mat-form-field>
                <mat-label>Select</mat-label>
                <mat-select>
                  <mat-option value="one">In-person</mat-option>
                  <mat-option value="two">Online</mat-option>
                </mat-select>
              </mat-form-field>
              <br>
              <mat-form-field>
                <mat-label>Short Note</mat-label>
                <textarea matInput></textarea>
              </mat-form-field>
        </div>

