<!--Taehyun Oh - 301286174 - COMP229 Sec.006 - Assignment 1 - June 9th, 2023-->
<section class="Services">
    <div><h1><b>Services</b></h1></div>
    <div>
        <div>
                <h2>These are some of program/web design skills that I can offer for service.</h2>
            
        </div>
        <div class="list">
            <ul>
                <li>
                    <h3>Python</h3>
                </li>
                <li>
                    <h3>Java</h3>
                </li>
                <li>
                    <h3>C#</h3>
                </li>
                <li>
                    <h3>JavaScript</h3>
                </li>
            </ul>
        </div>
        <div>

        </div>
        <div class="responsive">
            <div class="gallery">
              
                <img src="/assets/images/python.png" alt="python logo" width="600" height="400">
              
              <div class="desc">print("Hello World!")</div>
            </div>
          </div>
          
          
          <div class="responsive">
            <div class="gallery">
                <img src="/assets/images/java.png" alt="Java logo" width="600" height="200">
              
              <div class="desc">System.out.println("Hello, world!");</div>
            </div>
          </div>
          
          <div class="responsive">
            <div class="gallery">
        
                <img src="/assets/images/c_sharp.png" alt="C# logo" width="600" height="400">
              
              <div class="desc">Console.WriteLine("Hello, world!");</div>
            </div>
          </div>
          
          <div class="responsive">
            <div class="gallery">
              
                <img src="/assets/images/javascript.png" alt="JS logo" width="600" height="400">
              
              <div class="desc">console.log("Hello, World!");</div>
            </div>
          </div>
    </div>
</section>
