<!--Taehyun Oh - 301286174 - COMP229 Sec.006 - Assignment 1 - June 9th, 2023-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="p-profile">
                </div>
            </div>
            <div class="col-sm-7 p-rgt-sec" >
                <div>
                    <span class="p-tag">
                        AI - Software Engineer Technology
                    </span>
                    <p> </p>
                    <h1 class="mt-4">Taehyun Oh</h1>
                    <p class="p-des mt-3 mb-4">
                        Ambitious and dedicated worker. Able to apply skills I have learned and practiced in different
                        circumstands and needs. Fast learning and great teamwork are some of the strong suit. My shor-term goal is
                        finding a work oppertunity where I can bulit my skills and career as an AI - Software 
                        programmer and my long term goal is creating a AI based software companey.  
                    </p>
                    <a href="about" class="p-readmore">About Me<img src="/assets/images/play.png" alt="icon for readmore" 
                        width="15" class="ml-2">
                    </a>
                </div>

                    <div>
                        <h3>Leave your email and I will contact you shortly.</h3>
                        <form class="form-inline">
                            <div class="form-group">
                                <input type="email" class="form-control form-control-sm" id="colFormLabelSm" 
                                placeholder="example@email.com">
                                <button class="btn btn-warning">Send</button>
                              </div>
                        </form>
                    </div>
            </div>
        </div>
    </div >  
</section>
